## Moduł 2 - zadania

In [ ]:
import pandas as pd
import numpy as np

#### 1. Wczytaj dane z pliku `zadanie.csv` do DataFrame'u `df` 
(lokalizacja pliku: https://raw.githubusercontent.com/sagespl/nlp-masterclass/main/modu%C5%82-02/zadanie_modul_2.csv)

In [ ]:
df =

#### 2. Wyświetl 4 pierwsze wiersze `df`

#### 3. Wyciągnij wartości `df` jako numpy array - wynik przypisz do zmiennej `vals`

In [ ]:
vals =

#### 4. Transponuj `vals` - wynik przypisz do zmiennej `vals_t`

In [ ]:
vals_t =

#### 5. Na podstawie `vals_t` utworz DataFrame `df2` z kolumnami nazwanymi `x1,x2,...,xn` (skorzystaj z listy `col_names`)

In [ ]:
col_names = [f"x{x}"for x in range(1, 10)]

In [ ]:
df2 =

#### 6. Do `df2` dodaj nową kolumnę `new` powstałą z połączenia kolumn od `x1` do `x5` (włącznie)

#### 7. Na podstawie kolumny `new` utworz array `arr` zawierający wartości powstałe w wyniku zsumowania code point'ów poszczególnych znaków

In [ ]:
arr =

#### Wykonaj poniższy kod

In [ ]:
arr2 = np.concatenate([arr, arr, arr, arr])

#### 8. Utworz array `arr3` typu int64 składający się z 20 wartości od 1 do 20

In [ ]:
arr3 =

#### 9. Dodaj do siebie `arr2` i `arr3`, wynik przypisz do zmiennej `arr4`

In [ ]:
arr4 =

#### 10. Przekształć `arr4` do tensora 3d `arr3d` z 2 wierszami, 2 kolumnami i 5 warstwami

In [ ]:
arr3d =

#### 11. Wyciągnij 2 kolumnę z 3 warstwy `arr3d`

#### 12. Zsumuj wiersze w poszczegolnych warstwach `arr3d`

#### 13. Dodaj do siebie warstwy w `arr3d`

#### 14. Wykonaj mnożenie macierzy na logarytmie macierzy z zadania 12 oraz kwadracie macierzy z zadania 13

#### 15. Wynik zadania 14 wyświetl jako DataFrame